{% load static %}
<div class="slide-in-right">
  <h1 class="m-4 text-center mytext2 text-3xl font-bold">
      License Info
  </h1>
  <div class="m-4 rounded-xl shadow-2xl">
    <div class="p-4">
      <form class="m-0" hx-post="{% url "update_license_form" %}" hx-trigger="submit" hx-target="#rent-info-htmx" enctype="multipart/form-data">
        <div class="grid grid-cols-1 lg:grid-cols-2" id="license-form">
          {% csrf_token %}
          <div class="input-div col-span-1">
              <input class="my-4 relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid 
              border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition 
              duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden 
              file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 
              file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out 
              file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 
              focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none" 
              type="file" accept="image/*" name="license_pic"
              id="imgInp" />
              <div class="license-image-div">
                  <h3 class="text-center mytext2">Please add image of your driving license</h3>
                  {% if license.license_pic %}
                  <img id="blah" class="license-image" src="{{license.license_pic.url}}" alt="" />
                  {% else %}
                  <img id="blah" class="license-image" src="{% static 'images/driving-license.png' %}" alt="" />
                  {% endif %}
                  <p id="test"></p>
              </div>
            </div>
            <div id="license-detail" class="grid content-center">
              <label for="license_name">Name on License:</label>
              <input type="text" required name="license_name" placeholder="Name on License" {% if license.license_name %} value="{{license.license_name}}" {% endif %} class="m-4 input input-bordered w-[90%]" />
              <label for="expiry_date">Expiry Date:</label>
              <input required type="date" id="dateInput" name="expiry_date" placeholder="expiry_date" class="m-4 input-bordered w-[90%]" style="padding: 0.5rem;
        border: 1px solid #d5d5d5;
        border-radius: 8px;" />
        <script>
          document.getElementById("dateInput").min = new Date().toISOString().split("T")[0];
      </script>
              <div class="grid justify-center">
                <button class="btn bg-[#570df8] px-20 hover:bg-[black]" type="submit">Next <i class="ml-2 fa-solid fa-arrow-right"></i></button>
            </div> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>