{% load static %}
<div class="slide-in-right">
<h1 class="m-4 text-center mytext2 text-3xl font-bold">
    Your Profile
</h1>
  <div class="m-4 rounded-xl shadow-2xl">
    <form class="p-4" hx-post="{% url "update_profile_form" %}" hx-trigger="submit" hx-target="#rent-info-htmx" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="">
            {% if profile.first_name %}
            <input type="text" name="first_name" value="{{profile.first_name}}" placeholder="First Name" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% else %}
            <input type="text" name="first_name" placeholder="First Name" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% endif %}
            {% if profile.lastname %}
            <input type="text" name="last_name" value="{{profile.last_name}}" placeholder="Last Name" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% else %}
            <input type="text" name="last_name" placeholder="Last Name" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% endif %}
            {% if profile.contact %}
            <input type="text" name="contact" value="{{profile.contact}}" placeholder="Contact" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% else %}
            <input type="text" name="contact" placeholder="Contact" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% endif %}
            {% if profile.cnic %}
            <input type="text" name="cnic" value="{{profile.cnic}}" placeholder="CNIC" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% else %}
            <input type="text" name="cnic" placeholder="CNIC" class="mx-4 my-2 input input-bordered w-[90%]" required />
            {% endif %}
            <div class="grid justify-center">
            </div>
          </div>
          <div class="input-div col-span-1">
            <input class="my-4 relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid 
            border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition 
            duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden 
            file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 
            file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out 
            file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 
            focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none" 
            type="file" accept="image/*" name="profile_pic"
            id="imgInp" />
            <div class="profile-image-div">
              {% if profile.profile_pic %}
              <img id="blah" class="profile-image" src="{{profile.profile_pic.url}}" alt="" />
              {% elif profile_pic %}
              <img id="blah" class="profile-image" src="{{profile_pic}}" alt="" />
              {% else %}
              <img id="blah" class="profile-image" src="{% static 'images/user.jpg' %}" alt="" />
              {% endif %}
            </div>
          </div>
        </div>
        <div class="grid justify-center">
          <button class="mt-2 lg:m-0 btn bg-[#570df8] px-20 hover:bg-[black]" type="submit">Next <i class="ml-2 fa-solid fa-arrow-right"></i></button>
        </div>
    </form>
  </div>
</div>