{% load static %}
{% load humanize %}
<div class="slide-in-right">
    
    <div class="m-4 rounded-xl shadow-2xl">
      <div class="">
          <div class="grid grid-cols-1 lg:grid-cols-2 my-12 lg:my-0" id="license-form">
            <div class="rent-image-div">
                <img class="rounded-t-xl h-full w-full object-cover rent-image lg:rounded-l-xl lg:rounded-r-none" src="{{car.image.url}}" alt="{{car.name}}">
            </div>
            <div class="p-8 grid justify-center contentm-4 -center">
                <p class="mx-4 my-2 mt-0 font-bold">Car Name: <span class="ml-4 font-medium">{{car.name}} {{car.model}}</span></p>
                <p class="mx-4 my-2 mb-4 font-bold">Rent time: <span class="ml-4 font-medium">{{number_of_period}} {{period}}</span></p>
                <form class="m-0" action="{% url 'process_payment' %}" method="post">
                  {% csrf_token %}
                    <select class="m-4" name="delivery_method" required data-te-select-init>
                        <option value="Pickup">Garage Pickup</option>
                        <option value="Home Delivery">Delivery at Home</option>
                    </select>
                    <label data-te-select-label-ref>Select Method:</label>
                    <h5 class="mt-4 my-1 mx-4 mytext2 font-bold text-sm">Rent: <span class="ml-4 font-medium">Rs. {{rent|intcomma}}</span></h5>
                    <h5 class="my-1 mx-4 mytext2 font-bold text-sm">Security Charges: <span class="ml-4 font-medium">Rs. {{car.security_charges|intcomma}}</span></h5>
                    <h1 class="mt-1 mb-4 mx-4 mytext2 font-bold text-xl">Total Rent: <span class="ml-4 font-medium">Rs. {{total_rent|intcomma}}</span></h1>
                    <div class="grid justify-center">
                    <input type="hidden" name="car_id" value="{{car.id}}">
                    <input type="hidden" name="total_rent" value="{{total_rent}}">
                    <input type="hidden" name="rent" value="{{rent}}">
                    <input type="hidden" name="period" value="{{period}}">
                    <input type="hidden" name="number_of_period" value="{{number_of_period}}">
                    {% if total_rent < 9999999 %}
                    <button class="btn bg-[#570df8] px-20 hover:bg-[black]" type="submit">Continue Payment<i class="ml-2 fa-solid fa-arrow-right"></i></button>
                    {% else %}
                    <button disabled class="btn bg-[#570df8] px-20 hover:bg-[black]" >Continue Payment<i class="ml-2 fa-solid fa-arrow-right"></i></button>
                    <p class="text-center">This amount can't be paid online.</p>
                    <p class="text-center">Please <a class="text-[#570df8]" href="{% url "contact" %}">Contact</a> us OR come to our Branch.</p>
                    {% endif %}
                  </div>
                </form>
            </div>
          </div>
      </div>
    </div>
  </div>