{% load socialaccount %}
{% load allauth_ui %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
   {% if provider.id == "openid" %}
   {% for brand in provider.get_brands %}
      <a class="flex items-center self-stretch justify-center h-12 mt-3 text-[#570df8] uppercase rounded bg-[#570df8] hover:bg-black"
        href="{% provider_login_url provider.id  openid=brand.openid_url process=process  %}">{{brand.name}}</a>
   {% endfor %}
   {% endif %}
   {% if provider.name == "Google" %}
   <a class="flex p-2 items-center shadow-lg shadow-[#959292] justify-around h-12 mt-3 text-[#747475] mytext2 self-stretch rounded {{ provider | socialprovider_color }}"
   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
   <img src="{% static 'images/Google-icon.png' %}" alt="">Continue with {{provider.name}}</a>
   {% else %}
   <a class="flex items-center shadow-xl hover:shadow-2xl justify-center h-12 mt-3 text-[#570df8] font-bold mytext2 self-stretch rounded {{ provider | socialprovider_color }}"
   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
   {% endif %}

{% endfor %}
