{% load static %}
</div>

</div>

<div class="invisible fixed bottom-0 left-0 top-0 z-[1045] flex w-[70%] -translate-x-full flex-col border-none bg-[#1c2434] bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out [&[data-te-offcanvas-show]]:transform-none"
    tabindex="-1" id="sidenav" aria-labelledby="sidenavLabel" data-te-offcanvas-init>
    <ul>
        <li class="m-4"><a href="" hx-on::after-request="sidenavButtonClick()" hx-get="{% url "dashboard" %}" hx-push-url="{% url "dashboard" %}" hx-target="#users-change"
                class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-boxes-stacked"></i> Rents</a></li>
        <li class="m-4"><a href="" hx-get="{% url "full_home" %}" hx-push-url="{% url "home" %}" hx-target="#full-change" onclick="scrollToTop('DaisyRoom')"
                class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-house"></i> Home</a></li>
        <li class="m-4"><a href="" hx-on::after-request="sidenavButtonClick()" hx-get="{% url "profile" %}" hx-push-url="{% url "profile" %}" hx-target="#users-change"
                class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-user"></i> Profile</a></li>
        <li class="m-4"><a href="" hx-on::after-request="sidenavButtonClick()" hx-get="{% url "address" %}" hx-push-url="{% url "address" %}" hx-target="#users-change"
                class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-house-user"></i> Address</a></li>
        <li class="m-4"><a href="" hx-on::after-request="sidenavButtonClick()" hx-get="{% url "license_info" %}" hx-push-url="{% url "license_info" %}" hx-target="#users-change" class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-address-card"></i> License Info</a></li>
        <li class="m-4"><a href="{% url "account_logout" %}" class="btn flex justify-start bg-[#1c2434] hover:bg-[#34415b] w-full"><i
                    class="pr-8 fa-solid fa-door-open"></i> Logout</a></li>
    </ul>
</div>
<style>
    #licenseLoading{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #ffffff9e;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .htmx-indicator {
        display: none;
transition: opacity 200ms ease-in;
}
.htmx-request.htmx-indicator{
    display: grid;
}
.loader {
    width: 100px;
    height: 100px;
    border: 10px solid #570df8;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
</style>
<script>
function sidenavButtonClick() {
    var sidenavButton = document.getElementById("sidenavButton")
    sidenavButton.click();
}
</script>