{% load static %}
<form class="m-0" enctype="multipart/form-data" hx-indicator="#licenseLoading" hx-post="{% url "license_image_data_generator" %}" hx-trigger="change" hx-target="#license-form">
    {% csrf_token %}
    <div class="input-div col-span-1">
        <input class="my-4 relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid 
        border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition 
        duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden 
        file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 
        file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out 
        file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 
        focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none" 
        type="file" accept="image/*" name="image"
        id="imgInp" />
        <div class="license-image-div">
            <h3 class="text-center mytext2">You can change License image here</h3>
            {% if license.license_pic %}
            <img id="blah" class="license-image" src="{{license.license_pic.url}}" alt="" />
            {% else %}
            <img id="blah" class="license-image" src="{% static 'images/driving-license.png' %}" alt="" />
            {% endif %}
            <p id="test"></p>
          </div>
        </form>
      </div>
      <div id="license-detail" class="grid content-center">
          <form action="{% url "license_set_form" %}" method="post" class="m-0">
            {% csrf_token %}
            License Name:
            <input disabled type="text" value="{{name}}" placeholder="License Name" class="m-4 input input-bordered w-[90%]" />
            <input type="hidden" name="license_name" value="{{name}}" placeholder="License Name" class="m-4 input input-bordered w-[90%]" />
            {% if name_error %}
                <p class="text-[red]">{{name_error}}</p>
            {% endif %}
            Expiry Date:
            <input disabled type="text" value="{{date}}" placeholder="Expiry Date" class="m-4 input input-bordered w-[90%]" />
            <input type="hidden" name="expiry_date" value="{{date|date:"Y-m-d"}}" placeholder="Expiry Date" class="m-4 input input-bordered w-[90%]" />
            {% if date_error %}
                <p class="text-[red]">{{date_error}}</p>
            {% endif %}
            <div class="grid justify-center m-4">
                <button class="btn bg-[#570df8] px-20 hover:bg-[black]" type="submit" {% if name_error or date_error %} disabled {% endif %}>Submit</button>
            </div>
          </form>
        </div>
        