{% load static %}
{% if notifications %}
{% for n in notifications %}
{% if n.seen %}
<div class="p-4">
    <p class="font-bold text-sm">{{n.subject}}</p>
    <i>{{n.body}}</i>
    <p class="text-xs text-end">{{n.created_at|timesince}} ago</p>
</div>
{% else %}
<div class="p-4 bg-[f9fafb]">
    <p class="font-bold text-sm">{{n.subject}}</p>
    <i>{{n.body}}</i>
    <p class="text-xs text-end">{{n.created_at|timesince}} ago</p>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="justify-center my-16">
    <h1><i>No Notifications Yet...</i></h1>
</div>
{% endif %}