{% load static %}
<div class="mt-32 lg:mt-16 form-main">
    <h1 class="m-4 text-center mytext2 text-3xl font-bold">
      Your Address
    </h1>
    <div class="m-4 rounded-xl shadow-2xl">
        {% if messages %}
        <div role="alert" class="alert alert-info">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </span>
        </div>
        {% endif %}
      <form class="p-4 glass rounded-xl" hx-post="{% url "address" %}" hx-target="#users-change bg-transparent">
        {% csrf_token %}
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div>
            <input type="text" placeholder="Country" name="country" {% if address.country %} value="{{address.country}}" {% endif %} class="m-4 bg-transparent input input-bordered w-[90%]" />
            <input type="text" placeholder="City" name="city" {% if address.city %} value="{{address.city}}" {% endif %} class="m-4 bg-transparent input input-bordered w-[90%]" />
            <input type="text" placeholder="Town / Area" name="town_or_area" {% if address.town_or_area %} value="{{address.town_or_area}}" {% endif %} class="m-4 bg-transparent input input-bordered w-[90%]" />
          </div>
          <div>
            <textarea class="m-4 bg-transparent textarea textarea-bordered w-[90%] lg:h-[85%]" name="address" placeholder="Address">{{address.address}}</textarea>
          </div>
        </div>
        <div class="grid justify-center">
          <button class="btn bg-[#570df8] px-20 hover:bg-[black]" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>