{% load static %}
{% load humanize %}
<div>
  <script src="{% static 'js/tw-elements.js' %}"></script>
    <a href="" hx-get="{% url 'dashboard' %}" hx-push-url="{% url 'dashboard' %}" hx-target="#users-change" class="m-4 mt-0 btn bg-[#570df8] hover:bg-[black]"><i class="fa-solid fa-arrow-left mr-2"></i> Dashboard</a>
  </div>
  {% if rent.rented.return_status == 'Returned' %}
    <h1 class="font-bold text-6xl mytext2 text-[limegreen] text-center mt-6">Returned ✔</h1>
  {% elif rent.rented.return_status == 'Finished' %}
    <h1 class="font-bold text-6xl mytext2 text-[limegreen] text-center mt-6">Finished ✔</h1>
  {% else %}
    <div class="grid justify-center">
      <div class="shadow rounded-xl border-t-[2px] glass">
        <h1 class="text-center p-3 font-bold mytext2 text-[limegreen]" id="Time">Remaining Time:</h1>
        <div class="stats border-t-[2px] bg-transparent rounded-b-xl rounded-none">
          <div class="stat border-transparent px-4 lg:p-8">
            <div class="stat-title">Days</div>
            <div class="stat-value text-primary text-center" id="days"></div>
          </div>
          <div class="stat border-transparent px-4 lg:p-8">
            <div class="stat-title">Hours</div>
            <div class="stat-value text-primary text-center" id="hours"></div>
          </div>
          <div class="stat border-transparent px-4 lg:p-8">
            <div class="stat-title">Minutes</div>
            <div class="stat-value text-primary text-center" id="minutes"></div>
          </div>
          <div class="stat border-transparent px-4 lg:p-8">
            <div class="stat-title">Seconds</div>
            <div class="stat-value text-primary text-center" id="seconds"></div>
          </div>
        </div>
        {% if rent.rented.over_due_charges > 0 %}
          <div class="m-4 mt-0 text-center p-4 rounded-xl border-red border-[2px] text-red text-2xl font-bold mytext2">Overdue: Rs. {{ rent.rented.over_due_charges|intcomma }}</div>
        {% endif %}
      </div>

      <script>
        // Assuming you have a variable `countdownDate` passed from the Django backend
        var countdownDate = new Date('{{ rent.rented.last_date.isoformat }}').getTime()
        
        // Update the countdown every 1 second
        var countdownInterval = setInterval(function () {
          // Get the current date and time
          var now = new Date().getTime()
        
          // Calculate the remaining time in milliseconds
          var timeRemaining = countdownDate - now
        
          // Calculate the months, days, hours, and minutes
          var days = Math.floor((timeRemaining / (1000 * 60 * 60 * 24)))
          var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
          var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60))
          var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000)
        
          // Display the countdown in the specified element
          var daysElement = document.getElementById('days')
          var hoursElement = document.getElementById('hours')
          var minutesElement = document.getElementById('minutes')
          var secondsElement = document.getElementById('seconds')
          var timeElement = document.getElementById('Time')
        
          daysElement.innerHTML = Math.abs(days)
          hoursElement.innerHTML = Math.abs(hours)
          minutesElement.innerHTML = Math.abs(minutes)
          secondsElement.innerHTML = Math.abs(seconds)
        
          // Check if the countdown is in the past
          if (timeRemaining < 0) {
            timeElement.style.color = 'red'
            timeElement.innerHTML = 'Overdue Time:'
            daysElement.style.color = 'red'
            hoursElement.style.color = 'red'
            minutesElement.style.color = 'red'
            secondsElement.style.color = 'red'
          }
        }, 1000) // Update every 1 second
      </script>
    </div>
  {% endif %}
  <div class="grid justify-center" id="review-modal">
    {% if reviewed %}
      <div class="grid justify-center">
        <a class="m-4 btn bg-[#570df8] hover:bg-[black]">Reviewed ✓</a>
      </div>
    {% else %}
      <div class="grid justify-center">
        <button data-te-toggle="modal" data-te-target="#Review" data-te-ripple-init data-te-ripple-color="light" class="m-4 btn bg-[#570df8] hover:bg-[black]">Add Review <i class="fa-solid fa-arrow-right ml-2"></i></button>
      </div>
      <div data-te-modal-init class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none" id="Review" tabindex="-1" aria-labelledby="ReviewTitle" aria-modal="true" role="dialog">
        <div data-te-modal-dialog-ref class="m-4 pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
          <div class="p-4 pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
            <div class="items-center justify-center rounded-t-md">
              <!-- Modal title -->
              <h5 class="text-xl font-bold font-bold leading-normal text-neutral-800 text-center mytext2" id="exampleModalCenterTitle">Add Review</h5>
              <form hx-post="{% url 'review_add' %}" hx-target="#review-modal">
                {% csrf_token %}
                <div class="grid justify-center">
                  <div class="block rating m-6">
                    <input type="radio" name="rating-2" value="1" class="mask mask-star-2 bg-orange-400" checked />
                    <input type="radio" name="rating-2" value="2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" value="3" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" value="4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" value="5" class="mask mask-star-2 bg-orange-400" />
                  </div>
                  <div>
                    <textarea class="textarea textarea-bordered" name="review" placeholder="Review" required></textarea>
                  </div>
                  <input type="hidden" name="car_id" value="{{ rent.car.id }}" />
                  <div class="grid justify-center">
                    <button type="submit" class="m-4 btn bg-[#570df8] hover:bg-[black]">Save Review <i class="fa-solid fa-arrow-right ml-2"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if rent.rented.return_status == 'Returned' or rent.rented.return_status == 'Finished' or rent.rented.over_due_charges > 0 %}
    {% elif extended_rent %}
    <button type="button" 
    data-te-ripple-init 
    data-te-ripple-color="light" 
    class="mx-4 btn bg-[#570df8] hover:bg-[black]">
    Extended ✓</button>
    
    {% else %}
    <button type="button" 
    data-te-ripple-init 
    data-te-ripple-color="light" 
    data-te-toggle="modal" 
    data-te-target="#PriceModal"
    class="mx-4 btn bg-[#570df8] hover:bg-[black]">
    Extend Rent</button>
    {% comment %}  extend rent start  {% endcomment %}
    <div data-te-modal-init class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none" id="PriceModal" tabindex="-1" aria-labelledby="PeiceModalTitle" aria-modal="true" role="dialog">
      <div data-te-modal-dialog-ref class="m-4 pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
        <div class="p-4 pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
          <div class="flex flex-shrink-0 items-center justify-between rounded-t-md">
            <!-- Modal title -->
            <h5 class="text-xl text-center m-4 font-bold mytext2 font-bold leading-normal text-neutral-800" 
            id="exampleModalCenterTitle">You can choose rent for days, weeks or months.</h5>
          </div>
          <select data-te-select-init
            data-te-select-placeholder="Select Rent"
            id="priceSelect"
            hx-get="{% url "total_rent" %}"
            name="selected_value"
            hx-trigger="change"
            hx-target="#totalRent">
            <optgroup label="Rent For Days">
              <option value="1_day">1 Day - Rs. {{rent.car.per_day_rent|intcomma}}</option>
              <option value="2_day">2 Days - Rs. {% widthratio rent.car.per_day_rent 1 2 as rent1 %}{{rent1|intcomma}}</option>
              <option value="3_day">3 Days - Rs. {% widthratio rent.car.per_day_rent 1 3 as rent2 %}{{rent2|intcomma}}</option>
              <option value="4_day">4 Days - Rs. {% widthratio rent.car.per_day_rent 1 4 as rent3 %}{{rent3|intcomma}}</option>
              <option value="5_day">5 Days - Rs. {% widthratio rent.car.per_day_rent 1 5 as rent4 %}{{rent4|intcomma}}</option>
              <option value="6_day">6 Days - Rs. {% widthratio rent.car.per_day_rent 1 6 as rent5 %}{{rent5|intcomma}}</option>
            </optgroup>
            <optgroup label="Rent For Weeks">
              <option value="1_week">1 Week - Rs. {{rent.car.weekly_rent|intcomma}}</option>
              <option value="2_week">2 Weeks - Rs. {% widthratio rent.car.weekly_rent 1 2 as rent6 %}{{rent6|intcomma}}</option>
              <option value="3_week">3 Weeks - Rs. {% widthratio rent.car.weekly_rent 1 3 as rent7 %}{{rent7|intcomma}}</option>
            </optgroup>
            <optgroup label="Rent For Months">
              <option value="1_month">1 Month - Rs. {{rent.car.monthly_rent|intcomma}}</option>
              <option value="2_month">2 Month - Rs. {% widthratio rent.car.monthly_rent 1 2 as rent8 %}{{rent8|intcomma}}</option>
              <option value="3_month">3 Month - Rs. {% widthratio rent.car.monthly_rent 1 3 as rent9 %}{{rent9|intcomma}}</option>
              <option value="6_month">6 Month - Rs. {% widthratio rent.car.monthly_rent 1 6 as rent10 %}{{rent10|intcomma}}</option>
              <option value="12_month">12 Month - Rs. {% widthratio rent.car.monthly_rent 1 12 as rent11 %}{{rent11|intcomma}}</option>
            </optgroup>
            </select>
            <form class="m-0" action="{% url "extend_rent_request_form" %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="car_id" value="{{rent.car.id}}">
              <input type="hidden" name="rent_id" value="{{rent.rid}}">
              <div id="totalRent" class="grid justify-center">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% comment %}  extend rent end  {% endcomment %}
    {% endif %}
  </div>
  {% if rent.extended %}
  <div class="p-4">
    <div class="shadow-xl bg-white" id="invoice">
      <div class="detail-section hero">
        <div class="grid p-4 hero-content text-center text-neutral-content">
          <div class="grid justify-center content-center">
            <h1 class="m-4 detail-name font-bold mytext2 lg:text-5xl text-2xl text-[white]">DaisyRoom</h1>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 p-4">
        <div>
          <h2 class="font-bold text-[16px] lg:text-xl mytext2 text-[#570df8]">Invoice</h2>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Invoice No: <span class="font-medium">{{ rent.id }} <i>(extended)</i></span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Date: <span class="font-medium">{{ rent.created_at|date:'M d, Y' }} | <span class="font-bold">Extened at: </span> {{ rent.extended.extended_at|date:'M d, Y' }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Contact: <span class="font-medium">042-35314001</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Address: <span class="font-medium">45-A1, Link Road, Lahore.</span>
          </p>
        </div>
        <div class="grid justify-end">
          <h2 class="font-bold text-[16px] lg:text-xl mytext2 text-[#570df8]">{{ rent.user.profile.first_name }} {{ rent.user.profile.last_name }}</h2>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Email: <span class="font-medium">{{ rent.user.email }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Contact: <span class="font-medium">{{ rent.user.profile.contact }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Address: <span class="font-medium">{{ rent.user.address.address }}, {{ rent.user.address.town_or_area }}, {{ rent.user.address.city }}.</span>
          </p>
        </div>
      </div>
      <div class="grid grid-cols-3">
        <div class="p-4">
          <img class="rounded-xl w-full h-full object-cover img-3d" src="{{ rent.car.image.url }}" alt="" />
        </div>
        <div class="col-span-2 grid content-center">
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Car Name:</h2>
            <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.car.name }} ({{ rent.car.model }})</span>
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Brand Name:</h2>
            <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.car.brand.name }}</span>
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Car Condition:</h2>
            {% if rent.car.condition > 9 %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">New</span>
            {% else %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">Used</span>
            {% endif %}
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Rent Duration:</h2>
            {% if rent.number_of_period > 1 %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.number_of_period }} {{ rent.period }}s + {% if rent.extended.number_of_period > 1 %}{{rent.extended.number_of_period}} {{rent.extended.period}}s {% else %} {{rent.extended.number_of_period}} {{rent.extended.period}} {% endif %} <i>(extended)</i></span>
            {% else %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.number_of_period }} {{ rent.period }} + {% if rent.extended.number_of_period > 1 %}{{rent.extended.number_of_period}} {{rent.extended.period}}s {% else %} {{rent.extended.number_of_period}} {{rent.extended.period}} {% endif %} <i>(extended)</i></span>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      <div>
        <table class="table w-full mb-20">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-[10px] lg:text-[14px] mytext2">Car</th>
                <th class="text-[10px] lg:text-[14px] mytext2">Rent Period</th>
                <th class="text-[10px] lg:text-[14px] mytext2"># of Period</th>
              <th class="text-[10px] lg:text-[14px] mytext2">Rent</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <td class="text-[10px] lg:text-[14px] mytext2">
                {{ rent.car.name }} <br /> ({{ rent.car.model }})
              </td>
              {% if rent.period == 'Day' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.per_day_rent|intcomma }} <i>(Per day)</i></td>
              {% elif rent.period == 'Week' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.weekly_rent|intcomma }} <i>(Per Week)</i></td>
              {% else %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.monthly_rent|intcomma }} <i>(Per Month)</i></td>
              {% endif %}
              <td class="text-[10px] lg:text-[14px] mytext2">{{ rent.number_of_period|intcomma }}</td>
              <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.rent|intcomma }}</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2">
                + Rs. {{ rent.car.security_charges|intcomma }} <br /><i>(security)</i>
              </td>
            </tr>
            <tr>
              <td class="text-[10px] lg:text-[14px] mytext2">
                {{ rent.car.name }} <br /> ({{ rent.car.model }})
              </td>
              {% if rent.extended.period == 'Day' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.per_day_rent|intcomma }} <i>(Per day)</i></td>
              {% elif rent.extended.period == 'Week' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.weekly_rent|intcomma }} <i>(Per Week)</i></td>
              {% else %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.monthly_rent|intcomma }} <i>(Per Month)</i></td>
              {% endif %}
              <td class="text-[10px] lg:text-[14px] mytext2">{{ rent.extended.number_of_period|intcomma }}</td>
              <td class="text-[10px] lg:text-[14px] mytext2">+ Rs. {{ rent.extended_rent|intcomma }} <br><i>(extension)</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <div class="grid grid-cols-3">
        <div class="col-span-2 p-4">
          <h3 class="mytext2 font-bold">Contact:</h3>
          <p class="mytext2 text-[11px] lg:text-sm">
            <i class="fa-solid fa-envelope"></i> DaisyRoom@gmail.com
          </p>
          <p class="mytext2 text-[11px] lg:text-sm">
            <i class="fa-solid fa-phone"></i> 0306-4078601
          </p>
          <h1 class="font-bold mt-2 text-[#570df8] text-xl mytext2">DaisyRoom</h1>
        </div>
        <div class="bg-[#570df8] grid p-4 content-center">
          <h1 class="font-bold mytext2 text-xl text-white text-center">Total Rent:</h1><br />
          <span class="font-medium text-white text-center">Rs.{{ rent.total_rent|intcomma }}</span>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="p-4">
    <div class="shadow-xl bg-white" id="invoice">
      <div class="detail-section hero">
        <div class="grid p-4 hero-content text-center text-neutral-content">
          <div class="grid justify-center content-center">
            <h1 class="m-4 detail-name font-bold mytext2 lg:text-5xl text-2xl text-[white]">DaisyRoom</h1>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 p-4">
        <div>
          <h2 class="font-bold text-[16px] lg:text-xl mytext2 text-[#570df8]">Invoice</h2>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Invoice No: <span class="font-medium">{{ rent.id }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Date: <span class="font-medium">{{ rent.created_at|date:'M d, Y' }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Contact: <span class="font-medium">042-35314001</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Address: <span class="font-medium">45-A1, Link Road, Lahore.</span>
          </p>
        </div>
        <div class="grid justify-end">
          <h2 class="font-bold text-[16px] lg:text-xl mytext2 text-[#570df8]">{{ rent.user.profile.first_name }} {{ rent.user.profile.last_name }}</h2>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Email: <span class="font-medium">{{ rent.user.email }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Contact: <span class="font-medium">{{ rent.user.profile.contact }}</span>
          </p>
          <p class="text-[9px] lg:text-[12px] mytext2 font-bold">
            Address: <span class="font-medium">{{ rent.user.address.address }}, {{ rent.user.address.town_or_area }}, {{ rent.user.address.city }}.</span>
          </p>
        </div>
      </div>
      <div class="grid grid-cols-3">
        <div class="p-4">
          <img class="rounded-xl w-full h-full object-cover img-3d" src="{{ rent.car.image.url }}" alt="" />
        </div>
        <div class="col-span-2 grid content-center">
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Car Name:</h2>
            <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.car.name }} ({{ rent.car.model }})</span>
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Brand Name:</h2>
            <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.car.brand.name }}</span>
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Car Condition:</h2>
            {% if rent.car.condition > 9 %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">New</span>
            {% else %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">Used</span>
            {% endif %}
          </div>
          <div class="grid grid-cols-2 justify-between m-1">
            <h2 class="mytext2 text-[12px] lg:text-[14px] font-bold">Rent Duration:</h2>
            {% if rent.number_of_period > 1 %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.number_of_period }} {{ rent.period }}s</span>
            {% else %}
              <span class="mytext2 text-[12px] lg:text-[14px] font-medium">{{ rent.number_of_period }} {{ rent.period }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      <div>
        <table class="table w-full mb-20">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-[10px] lg:text-[14px] mytext2">Car</th>
              {% if rent.period == 'Day' %}
                <th class="text-[10px] lg:text-[14px] mytext2">Daily Rent</th>
                <th class="text-[10px] lg:text-[14px] mytext2"># of days</th>
              {% elif rent.period == 'Week' %}
                <th class="text-[10px] lg:text-[14px] mytext2">Weekly Rent</th>
                <th class="text-[10px] lg:text-[14px] mytext2"># of weeks</th>
              {% else %}
                <th class="text-[10px] lg:text-[14px] mytext2">Monthly Rent</th>
                <th class="text-[10px] lg:text-[14px] mytext2"># of months</th>
              {% endif %}
              <th class="text-[10px] lg:text-[14px] mytext2">Rent</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <td class="text-[10px] lg:text-[14px] mytext2">
                {{ rent.car.name }} <br /> ({{ rent.car.model }})
              </td>
              {% if rent.period == 'Day' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.per_day_rent|intcomma }}</td>
              {% elif rent.period == 'Week' %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.weekly_rent|intcomma }}</td>
              {% else %}
                <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.car.monthly_rent|intcomma }}</td>
              {% endif %}
              <td class="text-[10px] lg:text-[14px] mytext2">{{ rent.number_of_period|intcomma }}</td>
              <td class="text-[10px] lg:text-[14px] mytext2">Rs. {{ rent.rent|intcomma }}</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2"></td>
              <td class="text-[10px] lg:text-[14px] mytext2">
                + Rs. {{ rent.car.security_charges|intcomma }} <br /><i>(security)</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <div class="grid grid-cols-3">
        <div class="col-span-2 p-4">
          <h3 class="mytext2 font-bold">Contact:</h3>
          <p class="mytext2 text-[11px] lg:text-sm">
            <i class="fa-solid fa-envelope"></i> DaisyRoom@gmail.com
          </p>
          <p class="mytext2 text-[11px] lg:text-sm">
            <i class="fa-solid fa-phone"></i> 0306-4078601
          </p>
          <h1 class="font-bold mt-2 text-[#570df8] text-xl mytext2">DaisyRoom</h1>
        </div>
        <div class="bg-[#570df8] grid p-4 content-center">
          <h1 class="font-bold mytext2 text-xl text-white text-center">Total Rent:</h1><br />
          <span class="font-medium text-white text-center">Rs.{{ rent.total_rent|intcomma }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}