{% extends 'core/base.html' %}
{% load static %}
{% block body_core %}
  <div id="core-change">
    <div>
        <div class="detail-section hero">
          <div class=""></div>
          <div class="grid p-0 p-4 hero-content text-center text-neutral-content">
            <div class="">
              <h1 class="detail-name font-bold mytext2 lg:text-5xl text-2xl text-[white]">Please Confirm The Info Below</h1>
            </div>
          </div>
        </div>
      </div>
      <div id="rent-info-htmx" class="lg:p-11">
        {% include 'rent/smallComponents/extendedRentPageSmallComponent.html' %}
      </div>
  </div>
{% endblock %}
