{% load static %}
{% load humanize %}
<script src="{% static 'js/tw-elements.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% include "core/smallComponents/alerts.html" %}
<section>
    <div class="brands-section hero">
      <div class=""></div>
      <div class="grid hero-content text-center text-neutral-content">
        <h1 class="detail-name main-heading font-bold mytext2 text-6xl lg:text-8xl">Brands</h1>
      </div>
    </div>
  </section>
  <section>
    <div class="mb-6">
      <div class="listing-cars grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 m-4">
        {% for brand in brands %}
          {% include 'core/smallComponents/brandComponent.html' %}
        {% endfor %}
      </div>
    </div>
  </section>