{% load static %}
{% load humanize %}
<!-- Load static files and humanize module for Django templates -->
<script src="{% static 'js/tw-elements.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Include the JavaScript files for Tailwind CSS elements and custom script -->
{% include "core/smallComponents/alerts.html" %}
<!-- Include alerts.html file from smallComponents directory in core app -->
<div>
  {% if customization.main_screen_image_desktop %}
    <!-- Check if main_screen_image_desktop is defined -->
    {% if customization.main_screen_image_mobile %}
      <!-- Check if main_screen_image_mobile is defined -->
      <div class="bg-[url('{{customization.main_screen_image_mobile.url}}')] lg:bg-[url('{{customization.main_screen_image_desktop.url}}')] bg-no-repeat bg-cover hero min-h-screen">
      <!-- Set background image based on screen size -->
    {% else %}
      <div class="bg-[url('{{customization.main_screen_image_desktop.url}}')] bg-no-repeat bg-cover hero min-h-screen">
      <!-- Set background image for desktop -->
    {% endif %}
  {% else %}
    <div class="hero-section hero min-h-screen">
    <!-- If no main_screen_image_desktop is defined, use default hero section -->
  {% endif %}
    <div class="absolute bg-[#00000070] h-full w-full"></div>
    <!-- Absolute div to create overlay effect -->
    <div class="hero-content text-center text-neutral-content">
      <!-- Content for hero section -->
      <div class="">
        {% if customization %}
          <!-- Check if customization object exists -->
          <h6 class="text-{1.5rem} mytext2">{{customization.main_small_heading}}</h6>
          <!-- Display small heading if customization exists -->
          <h1 class="main-heading mb-5 font-bold mytext2">{{customization.main_large_heading}}</h1>
          <!-- Display large heading if customization exists -->
        {% else %}
          <h6 class="text-{1.5rem} mytext2">Find Cars For Rent Near You</h6>
          <!-- Default small heading -->
          <h1 class="main-heading mb-5 font-bold mytext2">Rent Your Dream Car</h1>
          <!-- Default large heading -->
        {% endif %}
        <div class="d-flex flex-wrap justify-center snipcss-7bJsy">
          <!-- Displaying dynamic links -->
          <a class="list-type-banner d-inline-flex align-items-center"
            href=""
            hx-get="{% url "type_details" 'SUV' %}" 
            hx-push-url="{% url "type_details" 'SUV' %}" 
            onclick="scrollToTop('SUVs')" 
            hx-target="#core-change">
            <!-- Link for SUVs -->
            <div class="type-icon">
              <!-- SVG icon for SUVs -->
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <!-- SVG path -->
              </svg>
            </div>
            <div class="inner">
              <!-- Text for SUVs -->
              <h4 class="title">
                suv
              </h4>
            </div>
          </a>
          <!-- End of SUV link -->



          <!-- Link for Sedans -->
          <a class="list-type-banner d-inline-flex align-items-center" 
            href=""
            hx-get="{% url "type_details" 'Sedan' %}" 
            hx-push-url="{% url "type_details" 'Sedan' %}" 
            onclick="scrollToTop('Sedans')" 
            hx-target="#core-change">
            <!-- Sedan icon -->
            <div class="type-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none">
                <!-- SVG path for Sedan icon -->
              </svg>
            </div>
            <div class="inner">
              <!-- Text for Sedans -->
              <h4 class="title">
                Sedan
              </h4>
            </div>
          </a>
          <!-- End of Sedan link -->

          <!-- Link for Hatchbacks -->
          <a class="list-type-banner d-inline-flex align-items-center"
            href=""
            hx-get="{% url "type_details" 'Hatchback' %}" 
            hx-push-url="{% url "type_details" 'Hatchback' %}" 
            onclick="scrollToTop('Hatchbacks')" 
            hx-target="#core-change">
            <!-- Hatchback icon -->
            <div class="type-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <!-- SVG path for Hatchback icon -->
              </svg>
            </div>
            <div class="inner">
              <!-- Text for Hatchbacks -->
              <h4 class="title">
                Hatchback
              </h4>
            </div>
          </a>
          <!-- End of Hatchback link -->




                    <!-- Link for Coupes -->
                    <a class="list-type-banner d-inline-flex align-items-center" 
                    href=""
                    {%comment%} Fetch URL for Coupe type {%endcomment%}
                    hx-get="{% url "type_details" 'Coupe' %}"
                    {%comment%} Push URL to browser history {%endcomment%}
                    hx-push-url="{% url "type_details" 'Coupe' %}"
                    {%comment%} Scroll to top of page {%endcomment%}
                    onclick="scrollToTop('Coupes')"
                    {%comment%} Update this element with fetched content {%endcomment%}
                    hx-target="#core-change">
                    <!-- Coupe icon -->
                    <div class="type-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none">
                        <!-- SVG path for Coupe icon -->
                      </svg>
                    </div>
                    <div class="inner">
                      <!-- Text for Coupes -->
                      <h4 class="title">
                        Coupe
                      </h4>
                    </div>
                  </a>
                  <!-- End of Coupe link -->
        
                  <!-- Link for Hybrids -->
                  <a class="list-type-banner d-inline-flex align-items-center" 
                    href=""
                    {%comment%} Fetch URL for Hybrid type {%endcomment%}
                    hx-get="{% url "type_details" 'Hybrid' %}"
                    {%comment%} Push URL to browser history {%endcomment%}
                    hx-push-url="{% url "type_details" 'Hybird' %}"
                    {%comment%} Scroll to top of page {%endcomment%}
                    onclick="scrollToTop('Hybrids')"
                    {%comment%} Update this element with fetched content {%endcomment%}
                    hx-target="#core-change">
                    <!-- Hybrid icon -->
                    <div class="type-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <!-- SVG path for Hybrid icon -->
                      </svg>
                    </div>
                    <div class="inner">
                      <!-- Text for Hybrids -->
                      <h4 class="title">
                        Hybrid
                      </div>
                    </a>
                  </div>
          
                </div>
              </div>
            </div>
          </div>  
          <div>
            <!-- Container for heading and view all link -->
            <div class="p-4 md:grid lg:flex justify-between align-items-center">
              <!-- Heading -->
              <h1 class="mytext text-4xl text-black pb-2">Explore Vehicles</h1>
              <!-- View all link -->
              <a href="" 
              {%comment%} Fetch URL for viewing all cars {%endcomment%}
              hx-get="{% url "listing" %}" 
              {%comment%} Push URL to browser history {%endcomment%}
              hx-push-url="{% url "listing" %}" 
              {%comment%} Scroll to top of page {%endcomment%}
              onclick="scrollToTop('All Cars')" 
              {%comment%} Update this element with fetched content {%endcomment%}
              hx-target="#core-change" style="color: #570df8;">
                View all 
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
            <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
            <!--Tabs navigation-->
            <ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0" role="tablist" data-te-nav-ref>
              <!-- Popular Cars Tab -->
              <li role="presentation">
                <a href=""
                  {%comment%} Switch to Popular Cars tab {%endcomment%}
                  class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-3 lg:px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:bg-neutral-100 data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary"
                  data-te-toggle="pill" data-te-target="#tabs-home" data-te-nav-active role="tab" aria-controls="tabs-home"
                  aria-selected="true">Popular Cars</a>
              </li>
              <!-- New Cars Tab -->
              <li role="presentation">
                <a href=""
                  {%comment%} Switch to New Cars tab {%endcomment%}
                  class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-3 lg:px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:bg-neutral-100 data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary"
                  data-te-toggle="pill" data-te-target="#tabs-profile" role="tab" aria-controls="tabs-profile"
                  hx-target=".new_cars" hx-get="{% url "new_cars" %}" hx-trigger="click once" hx-on::before-request="removeFiles()"
                  aria-selected="false"
                  id="new-cars-link">New Cars</a>
              </li>
              <!-- Used Cars Tab -->
              <li role="presentation">
                <a href=""
                  {%comment%} Switch to Used Cars tab {%endcomment%}
                  class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-3 lg:px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:bg-neutral-100 data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary"
                  data-te-toggle="pill" data-te-target="#tabs-messages" role="tab" aria-controls="tabs-messages"
                  hx-target=".used_cars" hx-get="{% url "used_cars" %}" hx-trigger="click once" hx-on::before-request="removeFiles()"
                  aria-selected="false"
                  id="used-cars-link">Used Cars</a>
              </li>
            </ul>
          
            <!--Tabs content-->
            <div class="mb-6">
              <!-- Popular Cars Tab Content -->
              <div class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab" data-te-tab-active>
                <!-- Carousel for displaying popular cars -->
                <div class="owl-carousel owl-carousel-car grid md:grid-cols-1 lg:grid-cols-4 gap-4">
                  {% for car in cars %}
                  {% include "core/smallComponents/productComponent.html" %}
                  {% endfor %}
                </div>
              </div>
              <!-- New Cars Tab Content -->
              <div class="new_cars hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
                  <!-- Placeholder for new cars while loading -->
                  <div class="grid justify-center m-12">
                    <span class="notification-loader"></span>
                  </div>
              </div>
              <!-- Used Cars Tab Content -->
              <div class="used_cars hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-messages" role="tabpanel" aria-labelledby="tabs-profile-tab">
                  <!-- Placeholder for used cars while loading -->
                  <div class="grid justify-center m-12">
                    <span class="notification-loader"></span>
                  </div>
              </div>
            </div>
          </div>
          
<!-- Explore Brands Section -->
<div>
  <!-- Container for heading and view all link -->
  <div class="p-4 md:grid lg:flex justify-between align-items-center">
    <!-- Heading -->
    <h1 class="mytext text-4xl text-black pb-2">Explore Brands</h1>
    <!-- View all link -->
    <a hx-get="{% url "brands" %}" 
    href=""
    {%comment%} Push URL to browser history {%endcomment%}
    hx-push-url="{% url "brands" %}" 
    {%comment%} Scroll to top of page {%endcomment%}
    onclick="scrollToTop('Brands')" 
    {%comment%} Update this element with fetched content {%endcomment%}
    hx-target="#core-change" style="color: #570df8;">View all <i
        class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>
  <!-- Carousel for displaying brands -->
  <div class="owl-carousel owl-carousel-brand">
    {% for brand in brands %}
    {% include 'core/smallComponents/brandComponent.html' %}
    {% endfor %}
  </div>
</div>

<!-- Explore Types Section -->
<div>
  <!-- Container for heading and view all link -->
  <div class="p-4 pt-8 md:grid lg:flex justify-between align-items-center">
    <!-- Heading -->
    <h1 class="mytext text-4xl text-black pb-2">Explore Types</h1>
    <!-- View all link -->
    <a hx-get="{% url "types" %}" 
    href=""
    {%comment%} Push URL to browser history {%endcomment%}
    hx-push-url="{% url "types" %}" 
    {%comment%} Scroll to top of page {%endcomment%}
    onclick="scrollToTop('Types')" 
    {%comment%} Update this element with fetched content {%endcomment%}
    hx-target="#core-change" style="color: #570df8;">View all <i
        class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>
  <div class="lg:p-4">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      {% for type in types|slice:":2" %}
      <div class="card m-4 shadow-xl hover:shadow-2xl transition-all">
        <!-- Link to view type details -->
        <a hx-get="{% url "type_details" type.name %}" 
        href=""
        {%comment%} Push URL to browser history {%endcomment%}
        hx-push-url="{% url "type_details" type.name %}" 
        {%comment%} Scroll to top of page {%endcomment%}
        onclick="scrollToTop('{{type.name}}')" 
        {%comment%} Update this element with fetched content {%endcomment%}
        hx-target="#core-change"><img class="brand-image" src="{{type.logo.url}}"
            alt="{{type.name}} logo"></a>
        <!-- Type card information -->
        <div class="type-card-info">
          <a class="py-2 list-type-banner d-inline-flex align-items-center" style="background: white;" href="">
            <div class="inner">
              <h4 class="title" style="color: rgb(39, 39, 39);">
                {{type.name}}
              </h4>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Display remaining types -->
    <div class="grid grid-cols-1 lg:grid-cols-3">
      {% for type in types|slice:"2:" %}
      {% include "core/smallComponents/typeComponent.html" %}
      {% endfor %}
    </div>
  </div>
</div>
