{% load static %}  <!-- Load static files like CSS and JavaScript -->
{% load humanize %}  <!-- Load humanize template tag library for formatting numbers and dates -->

<!-- Include necessary JavaScript files -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/tw-elements.js' %}"></script>

<!-- Include alerts component -->
{% include "core/smallComponents/alerts.html" %}

<!-- Hero section for Saved Cars -->
<section>
  <div class="brands-section hero">
    <!-- Background image for hero section (if applicable) -->
    <div class=""></div>
    <!-- Hero content -->
    <div class="grid hero-content text-center text-neutral-content">
      <!-- Heading for Saved Cars section -->
      <h1 class="detail-name main-heading font-bold mytext2 text-6xl lg:text-8xl">Saved Cars</h1>
    </div>
  </div>
</section>

<!-- Section for displaying saved cars -->
<section>
  <div class="mb-6">
    {% if cars %}
      <!-- Display saved cars in a grid layout -->
      <div class="listing-cars grid md:grid-cols-2 lg:grid-cols-4 gap-4 m-4">
        {% for car in cars %}
          <!-- Include product component for each saved car -->
          {% include 'core/smallComponents/productComponent.html' %}
        {% endfor %}
      </div>
    {% else %}
      <!-- Display message when no cars are saved -->
      <h1 class="text-center mytext2 text-5xl my-12">No Saved Cars</h1>
    {% endif %}
  </div>
</section>
