{% load static %}
{% load humanize %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/tw-elements.js' %}"></script>
{% include "core/smallComponents/alerts.html" %}
<section>
    <div class="brand-section hero" style="background-image: url({{category.logo.url}});">
      <div class="grid p-4 align-items-center gap-2 text-center text-neutral-content" style="background: #00000080; width: 100%; height: 100%;">
        <h1 class="detail-name main-heading font-bold mytext2 text-6xl lg:text-8xl">{{category.name}}</h1>
        <p class="text-[14px] lg:text-[18px]">{{category.description}}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="mb-6">
      <div class="listing-cars grid md:grid-cols-2 lg:grid-cols-4 gap-4 m-4">
        {% for car in cars %}
          {% include 'core/smallComponents/productComponent.html' %}
        {% endfor %}
      </div>
    </div>
  </section>