{% load static %}
<header class="navbar rounded-none">
    <div class="navbar-start">

        <div tabindex="0" role="button" id="closeMenuCore" class="nav-button btn btn-ghost lg:hidden" type="button"
            data-te-offcanvas-toggle data-te-target="#offcanvasExample" aria-controls="offcanvasExample"
            data-te-ripple-init data-te-ripple-color="light">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
        </div>



        <div class="invisible fixed bottom-0 left-0 top-0 z-[1045] flex 
  -translate-x-full flex-col border-none bg-white bg-clip-padding
  text-neutral-700 shadow-sm outline-none transition duration-300
  ease-in-out [&[data-te-offcanvas-show]]:transform-none" style="width: 75%;" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel" data-te-offcanvas-init>
            <div class="flex p-12">
                
                <nav>
                    <ul style="display: grid; grid-row-gap: 20px;">
                        <li class="menu-list">
                            <a 
                            hx-on::before-request="closeMenuCore()"
                            class="mytext menu-a text-2xl"
                            href="" 
                            hx-get="{% url "home" %}" 
                            hx-push-url="{% url "home" %}" 
                            onclick="scrollToTop('DaisyRoom')" 
                            hx-target="#core-change">Home</a>
                        </li>
                        <li class="menu-list">
                            <a 
                            hx-on::before-request="closeMenuCore()"
                            class="mytext menu-a text-2xl"
                            href="" 
                            hx-get="{% url "listing" %}" 
                            hx-push-url="{% url "listing" %}" 
                            onclick="scrollToTop('All Cars')" 
                            hx-target="#core-change">All Cars</a>
                        </li>
                        <li class="menu-list">
                            <a class="mytext menu-a text-2xl" style="color: black;" href="#" id="dropdownMenuButton4"
                                data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init>Brands <i
                                    class="fa-solid fa-chevron-down" style="font-size: 12px;"></i></a>
                            <ul class="absolute  z-[1000] shadow-2xl float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg [&[data-te-dropdown-show]]:block"
                                aria-labelledby="dropdownMenuButton4" data-te-dropdown-menu-ref>
                                {% for brand in menu_brands %}
                                <li class="my-4">
                                  <a 
                                  class="mx-8 mytext" 
                                  style="color: black;" 
                                  href=""
                                  hx-get="{% url "brand_details" brand.name %}" 
                                  hx-push-url="{% url "brand_details" brand.name %}" 
                                  onclick="scrollToTop('{{brand.name}}')" 
                                  hx-target="#core-change"
                                  data-te-dropdown-item-ref>{{brand.name}}</a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </li>
                        <li class="menu-list">
                            <a class="mytext menu-a text-2xl" style="color: black;" href="#" id="dropdownMenuButton5"
                                data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init>Types <i
                                    class="fa-solid fa-chevron-down" style="font-size: 12px;"></i></a>
                            <ul class="absolute  z-[1000] shadow-2xl float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg [&[data-te-dropdown-show]]:block"
                                aria-labelledby="dropdownMenuButton5" data-te-dropdown-menu-ref>
                                {% for type in menu_types %}
                                <li class="my-4">
                                  <a class="mx-8 mytext" style="color: black;"
                                  data-te-dropdown-item-ref
                                  hx-get="{% url "type_details" type.name %}" 
                                  hx-push-url="{% url "type_details" type.name %}" 
                                  onclick="scrollToTop('{{type.name}}')" 
                                  hx-target="#core-change">{{type.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="menu-list">
                            <a class="mytext menu-a text-2xl" href="" hx-get="{% url "full_dashboard" %}" hx-target="#full-change" onclick="scrollToTop('Dashboard')" hx-push-url="{% url "user" %}">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="menu-list">
                            <a class="mytext menu-a text-2xl" href="{% url "account_login" %}">Sign in</a>
                        </li>
                        {% endif %}
                        <li class="menu-list">
                            <a class="mytext menu-a text-2xl"
                            hx-on::before-request="closeMenuCore()"
                            href=""
                            hx-get="{% url "contact" %}" 
                            hx-push-url="{% url "contact" %}" 
                            onclick="scrollToTop('Contact')" 
                            hx-target="#core-change">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="navbar-center">
        <a href="" hx-get="{% url "home" %}" hx-push-url="{% url "home" %}" onclick="scrollToTop('DaisyRoom')" hx-target="#core-change" class="btn btn-ghost text-xl logo font-bold">DaisyRoom</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <nav class="navLinks">
            <a class="mytext" href="" hx-get="{% url "home" %}" hx-push-url="{% url "home" %}" onclick="scrollToTop('DaisyRoom')" hx-target="#core-change" class="active">Home</a>
            <a class="mytext" href="" hx-get="{% url "listing" %}" hx-push-url="{% url "listing" %}" onclick="scrollToTop('All Cars')" hx-target="#core-change">All Cars</a>
            <div class="dropdown">
                <a tabindex="0" role="button" class="mytext">Brands <i class="fa-solid fa-chevron-down"
                    style="font-size: 12px;"></i></a>
                <ul tabindex="0" class="dropdown-content p-4 z-[1] menu shadow bg-base-100 rounded w-48">
                    {% for brand in menu_brands %}
                    <li><a href="" hx-get="{% url "brand_details" brand.name %}" hx-push-url="{% url "brand_details" brand.name %}" onclick="scrollToTop('{{brand.name}}')" hx-target="#core-change" class="ml-0 mytext hover:bg-neutral-100 hover:text-black">{{brand.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="dropdown">
                <a tabindex="0" role="button" class="mytext">Types <i class="fa-solid fa-chevron-down"
                    style="font-size: 12px;"></i></a>
                <ul tabindex="0" class="dropdown-content p-4 z-[1] menu shadow bg-base-100 rounded w-48">
                    {% for type in menu_types %}
                    <li><a href="" hx-get="{% url "type_details" type.name %}" hx-push-url="{% url "type_details" type.name %}" onclick="scrollToTop('{{type.name}}')" hx-target="#core-change" class="ml-0 mytext hover:bg-neutral-100 hover:text-black">{{type.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
            <a class="mytext" href="" hx-get="{% url "full_dashboard" %}" hx-target="#full-change" hx-push-url="{% url "user" %}" onclick="scrollToTop('Dashboard')">Dashboard</a>
            {% else %}
            <a class="mytext" href="{% url "account_login" %}">Sign in</a>
            {% endif %}
            <a class="mytext" href="" hx-get="{% url "contact" %}" hx-push-url="{% url "contact" %}" onclick="scrollToTop('Contact')" hx-target="#core-change">Contact</a>
            <!-- <button onclick="themeMode()">change mode</button> -->
        </nav>
    </div>
    <div class="navbar-end">
        <button class="nav-button btn btn-ghost btn-circle" data-te-toggle="modal" data-te-target="#search_modal"
            data-te-ripple-init data-te-ripple-color="light">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>
        {% if request.user.is_authenticated %}
        <a href="" hx-get="{% url "saved" %}" hx-push-url="{% url "saved" %}" onclick="scrollToTop('Saved Cars')" hx-target="#core-change">
        {% else %}
        <a href="{% url "saved" %}" >
        {% endif %}
          <button class="nav-button btn btn-ghost btn-circle">
            <div class="indicator">
              <i class="fa-regular fa-heart"></i>
              {% if saved_cars %}
              <span class="badge badge-xs badge-primary indicator-item"></span>
              {% endif %}
            </div>
          </button>
        </a>
    </div>
</header>