{% load static %}
{% load humanize %}
<div class="card bg-base-100 shadow-xl hover:shadow-2xl transition-all m-4">
    <div id="carouselExampleIndicators{{forloop.counter}}" class="relative" data-te-carousel-init data-te-ride="carousel">
      <!--Carousel indicators-->
      <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
        data-te-carousel-indicators>
        <button type="button" data-te-target="#carouselExampleIndicators{{forloop.counter}}" data-te-slide-to="0"
          data-te-carousel-active
          class="mx-[3px] box-content h-[3px] w-[20px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-current="true" aria-label="Slide 1"></button>
          {% with parentloop=forloop.counter %}
          {% for c in car.images.all %}
          <button type="button" data-te-target="#carouselExampleIndicators{{parentloop}}" data-te-slide-to="{{forloop.counter}}"
          class="mx-[3px] box-content h-[3px] w-[20px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-label="Slide {{forloop.counter|add:1}}"></button>
          {% endfor %}
          {% endwith %}
        
      </div>

      <!--Carousel items-->
      <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
        <!--First item-->
        <div
          class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item data-te-carousel-active>
          <a href="" onclick="scrollToTop('{{car.name}}')" hx-get="{% url "car_detail" car.id %}" hx-push-url="{% url "car_detail" car.id %}" hx-target="#core-change"><img src="{{car.image.url}}" class="block w-full" alt="Wild Landscape" /></a>
        </div>
        {% for c in car.images.all %}
        <div
          class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-item>
          <a href="" onclick="scrollToTop('{{car.name}}')" hx-get="{% url "car_detail" car.id %}" hx-push-url="{% url "car_detail" car.id %}" hx-target="#core-change"><img src="{{c.image.url}}" class="block w-full" alt="Camera" /></a>
        </div>
        {% endfor %}
        
      </div>


    </div>
    <div class="px-8 py-4 card-body">
      <h2 class="card-title mytext2">
        {% if car.name|length > 15 %}
        {{car.name|slice:20}}...
        {% else %}
        {{car.name}} {{car.model}}
        {% endif %}
      </h2>
      <i>
        {% if car.per_day_rent > 40000 and car.weekly_rent > 160000 and car.monthly_rent > 400000 %}
                <span class="badge badge-ghost badge-sm">Luxury</span>
              {% else %}
                <span class="badge badge-ghost badge-sm">Domestic</span>
              {% endif %}
      </i>
      <hr>
      <div class="flex justify-between">
        <div class="grid">
          <div class="grid justify-center">
            <img src="{% static 'images/meter.png' %}" alt="" style="width: 30px;">
          </div>
          <p style="font-size: 14px;">{{car.specifications.max_speed_in_km_per_h}} kmh<sup>-1</sup></p>
        </div>
        <div class="grid">
          <div class="grid justify-center">
            <img src="{% static 'images/gas-station.png' %}" alt="" style="width: 30px;">
          </div>
          <p style="font-size: 14px;">{{car.specifications.fuel_type}}</p>
        </div>
        <div class="grid">
          <div class="grid justify-center">
            <img src="{% static 'images/car-engine.png' %}" alt="" style="width: 30px;">
          </div>
          <p style="font-size: 14px;">{{car.specifications.transmission}}</p>
        </div>
      </div>
      <hr>
      <div class="flex justify-between align-items-center">
        <div class="grid overflow-hidden w-[60%]">
          <div class="owl-carousel owl-carousel-price grid">
            <h2 class="font-bold">Rs.{{car.per_day_rent|intcomma}} <small class="font-medium text-lg text-neutral-500">/day</small></h2>
            <h2 class="font-bold">Rs.{{car.weekly_rent|intcomma}} <small class="font-medium text-lg text-neutral-500">/week</small></h2>
            <h2 class="font-bold">Rs.{{car.monthly_rent|intcomma}} <small class="font-medium text-lg text-neutral-500">/month</small></h2>
          </div>
        </div>
        <div>
          <a href="" onclick="scrollToTop('{{car.name}}')" hx-get="{% url "car_detail" car.id %}" hx-push-url="{% url "car_detail" car.id %}" hx-target="#core-change" class="btn" style="background-color: #570df8;">Rent It</a>
        </div>
      </div>
    </div>
  </div>
  