{% load static %}
<div data-te-modal-init class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none" id="ShareModal" tabindex="-1" aria-labelledby="shareModalTitle" aria-modal="true" role="dialog">
  <div data-te-modal-dialog-ref class="m-4 pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
    <div class="p-4 pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
        <!-- Modal title -->
        <h5 class="text-xl text-center mytext2 font-bold font-bold leading-normal text-neutral-800" id="exampleModalCenterTitle">Share Via</h5>
      <!-- AddToAny BEGIN -->
      <div class="m-8 flex flex-wrap gap-4 justify-center a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_whatsapp"></a>
        <a class="a2a_button_facebook_messenger"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_google_gmail"></a>
        <a class="a2a_button_x"></a>
        <a class="a2a_button_pinterest"></a>
      </div>
      <!-- AddToAny END -->
      <button type="button" class="btn bg-[#570df8] hover:bg-[#3706a0]" 
      data-te-modal-dismiss 
      data-te-ripple-init 
      data-te-ripple-color="light">Close</button>
    </div>
  </div>
</div>
